<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Administracion de socios</h1>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de socios</h3>
            
          </div>
          <div class="card-body">
            <table datatable class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>RUT</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>18109289-0</td>
                  <td>Danilo</td>
                  <td>Cid Vargas</td>
                  <td>
                    <i class="fas fa-edit fa-lg text-info mr-2" ></i>
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>RUT</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>