<aside class="main-sidebar sidebar-dark-primary elevation-4">
   <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
    

      <!-- SidebarSearch Form -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-header">Administracion de socios</li>
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Listado de socios</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/agregarsocio" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Agregar socio</p>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
